# ==========================================
# FOLDER UTAMA YANG DIABAIKAN (SKIP)
# ==========================================
bin/
build/
data/

# ==========================================
# FILE LOKAL YANG DIABAIKAN (SKIP)
# ==========================================
pg_pw.txt
setting.ini
*.exe
crash_log.txt

# ==========================================
# PENGATURAN FOLDER WWW
# ==========================================
# Blokir semua isi www (termasuk phpmyadmin dan project user nanti)
www/*

# Kecualikan (Whitelist) file bawaan NgAppIDServ agar tetap terupload
!www/favicon.ico
!www/index.php
!www/tes-db.php
!www/percobaan/
!www/percobaan/**

# ==========================================
# CACHE FRONTEND (PENTING)
# ==========================================
frontend/node_modules/
frontend/dist/bin/
